.home {
  flex-direction: column;
  justify-content: space-around;
  background:
    linear-gradient(rgba(0,0,0,.8), rgba(237,67,67,.7)),
    url(https://upload.wikimedia.org/wikipedia/commons/c/cd/Mars_atmosphere_2.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
}

.enter-button a {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  background: rgba(237,237,237,.2);
  border-radius: 50%;
  animation: border-pulse 2s infinite;
}
