<div class= "register">
  <h1> Register </h1>

  <form #registerForm="ngForm" (ngSubmit)="onSubmit($event, registerForm)">
    <div>
        <label for="name">
          <input ngControl="name" [(ngModel)]="colonist.name" type="text" id="name" placeholder=" Name" />
        </label>
    </div>

    <div>
        <label for="age">
          <input ngControl="age" [(ngModel)]="colonist.age" type="text" id="age" placeholder=" Age"/>
        </label>
    </div>

    <select ngControl="job" [(ngModel)]="colonist.job_id" class="Select occupation" >
      <option [value]=NO_OCCUPATION_SELECTED> Select occupation </option>
      <option *ngFor="let job of occupations" [value]="job.id">{{ job.name }} </option>
    </select>

    <div class="button">
      <button type="submit" [disabled]="noOccupation || !registerForm.form.valid"> Check in </button>
    </div>
  </form>
</div>
