<div class= "register container">
  <h1> Register </h1>

  <form class= "register-form" action="index.html" method="post">
    <div>
        <label for="name">
          <input type="text" placeholder= "Name" id="name" />
        </label>
    </div>
    <div>
        <label for="age">
          <input type="text" placeholder= "Age" id="age" />
        </label>
    </div>
    <select name="Select">
      <option value="value1"> Select occupation </option>
      <option value="value2"> Dust farmer </option>
      <option value="value3"> Alien hunter </option>
      <option value="value4"> Battery technician </option>
      <option value="value5"> Yoga teacher </option>
      <option value="value6"> Front-end developer </option>
    </select>
  </form>

  <button type="button" name="button"> Check in </button>
</div>
