.register {
  text-align: center;
  color: white;
  background-color: black;
  height: 100vh
}

.register h1 {
  padding-top: 50px;
  font-size: 35px;
}

input {
  border-color: black;
  font-size: 18px;
  margin-top: 30px;
  padding-top: 10px;
  color: white;
  background-color: black;
  height: 35px;
  width: 95vw;
  line-height: 2;
  border-bottom: 1px solid white;
}

::-webkit-input-placeholder {
   color: red;

}

:-moz-placeholder { /* Firefox 18- */
   color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;
}

:-ms-input-placeholder {
   color: red;
}

input:active {
  border: 1px solid blue;
}
